.Date{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #C1C8CE;
}
.Topic{
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: #22262A;
}
.text-18{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
     color: #22262A;
    
}